@page
@model FinalProject.Pages.Tournaments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.TournamentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.TournamentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.TournamentGame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.TournamentGame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.TournamentDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.TournamentDetails)
        </dd>

        <ul>       
                @* List each Tournament the Player is enrolled in
                   Display an HTML button next to each Tournament to Drop the Tournament.
                   In order to drop a Tournament, we must know the TournamentID. Use the hidden input type for that
                   The button uses asp-page-handler to call OnPostDeleteTournament() method
                *@
                @foreach(var Player in Model.Tournament.PlayerTournaments)
                {
                    <form method="post">
                        <input type="hidden" asp-for="PlayerIdToDelete" value="@Player.Player.PlayerID" />
                        <li>
                            @Player.Player <input type="submit" Value="Drop" class="btn btn-danger btn-sm my-1" asp-page-handler="DeletePlayer" asp-route-id="@Model.Tournament.TournamentID">
                        </li>
                    </form>
                }
        </ul>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Tournament.TournamentID" />
            <div class="form-group">
                <select asp-items="Model.PlayersDropDown" asp-for="PlayerIdToAdd" class="form-control">
                    <option value="">--Select Player to Add--</option>
                </select>
                <span asp-validation-for="PlayerIdToAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Player" class="btn btn-primary" asp-page-handler="" asp-route-id="@Model.Tournament.TournamentID"/>
            </div>
        </form>
    </div>
    </div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tournament.TournamentID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
